In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_9 = pd.read_csv('s3://datasetairbnb/dataset/listingsSeptember.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_10 = pd.read_csv('s3://datasetairbnb/dataset/listingsOctober.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_11 = pd.read_csv('s3://datasetairbnb/dataset/listingsNovember.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)

df_21 = pd.read_csv('s3://datasetairbnb/dataset/listings_2017/september.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_22 = pd.read_csv('s3://datasetairbnb/dataset/listings_2017/october.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_23 = pd.read_csv('s3://datasetairbnb/dataset/listings_2017/november.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)

In [3]:
df_fall_seasonality = pd.concat([df_9, df_10, df_11, df_21, df_22, df_23], ignore_index=True)

In [4]:
df_fall = df_fall_seasonality[[
    'id',
    'host_id',
    'scrape_id',
    'zipcode',
    'neighbourhood_cleansed',
    'property_type',
    'room_type',
    'accommodates',
    'bedrooms',
    'beds',
    'bed_type',
    'price',
    'number_of_reviews',
    'review_scores_rating',
    'availability_30',
    'minimum_nights',
    'bathrooms',
    'host_is_superhost',
    'host_response_rate'
]]

In [5]:
df_fall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282064 entries, 0 to 282063
Data columns (total 19 columns):
id                        282064 non-null int64
host_id                   282064 non-null int64
scrape_id                 282064 non-null int64
zipcode                   278023 non-null object
neighbourhood_cleansed    282064 non-null object
property_type             282064 non-null object
room_type                 282064 non-null object
accommodates              282064 non-null int64
bedrooms                  281693 non-null float64
beds                      281637 non-null float64
bed_type                  282064 non-null object
price                     282064 non-null object
number_of_reviews         282064 non-null int64
review_scores_rating      217533 non-null float64
availability_30           282064 non-null int64
minimum_nights            282064 non-null int64
bathrooms                 281342 non-null float64
host_is_superhost         281701 non-null object
host_response_rate        174244 non-null object
dtypes: float64(4), int64(7), object(8)
memory usage: 40.9+ MB

In [6]:
# determine the number of missing entries in each column
for col in df_fall.columns:
    print (col + ', Number of Missing Values:', len(df_fall[col][df_fall[col].isnull()]))

id, Number of Missing Values: 0
host_id, Number of Missing Values: 0
scrape_id, Number of Missing Values: 0
zipcode, Number of Missing Values: 4041
neighbourhood_cleansed, Number of Missing Values: 0
property_type, Number of Missing Values: 0
room_type, Number of Missing Values: 0
accommodates, Number of Missing Values: 0
bedrooms, Number of Missing Values: 371
beds, Number of Missing Values: 427
bed_type, Number of Missing Values: 0
price, Number of Missing Values: 0
number_of_reviews, Number of Missing Values: 0
review_scores_rating, Number of Missing Values: 64531
availability_30, Number of Missing Values: 0
minimum_nights, Number of Missing Values: 0
bathrooms, Number of Missing Values: 722
host_is_superhost, Number of Missing Values: 363
host_response_rate, Number of Missing Values: 107820

In [7]:
original_winter = len(df_fall)
df_fall = df_fall.dropna(how='any', subset=['zipcode', 'property_type', 'bedrooms', 'beds', 'bathrooms'])
print ('Number of NaN values removed:', original_winter - len(df_fall))

Number of NaN values removed: 5253

In [8]:
# drop $ and , 
df_fall['price'] = df_fall['price'].astype(str).str.replace('$', '')
df_fall['price'] = df_fall['price'].astype(str).str.replace(',', '')
df_fall['price'] = df_fall['price'].str.strip()
df_fall['price'] = df_fall['price'].astype(float)

In [9]:
# drop % && convert to float
df_fall['host_response_rate'].fillna(0, inplace=True)
df_fall['host_response_rate'] = df_fall['host_response_rate'].astype(str).str.replace('%', '')
df_fall['host_response_rate'] = df_fall['host_response_rate'].astype(str).str.replace(',', '')
df_fall['host_response_rate'] = df_fall['host_response_rate'].str.strip()
df_fall['host_response_rate'] = df_fall['host_response_rate'].astype(float)

In [10]:
# host_is_superhost
df_fall.host_is_superhost[df_fall.host_is_superhost == 't'] = 1
df_fall.host_is_superhost[df_fall.host_is_superhost == 'f'] = 0
df_fall.host_is_superhost = df_fall.host_is_superhost.astype(float)

threshold=100
df['count'] = df_cols.groupby('property_type')['property_type'].transform(pd.Series.value_counts)
df_cols=df[df['count']>=threshold]
df_cols.drop(['count'], axis = 1, inplace = True)

In [11]:
df_fall = df_fall.groupby('property_type').filter(lambda x : len(x)>500)

In [12]:
df_fall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273813 entries, 0 to 282063
Data columns (total 19 columns):
id                        273813 non-null int64
host_id                   273813 non-null int64
scrape_id                 273813 non-null int64
zipcode                   273813 non-null object
neighbourhood_cleansed    273813 non-null object
property_type             273813 non-null object
room_type                 273813 non-null object
accommodates              273813 non-null int64
bedrooms                  273813 non-null float64
beds                      273813 non-null float64
bed_type                  273813 non-null object
price                     273813 non-null float64
number_of_reviews         273813 non-null int64
review_scores_rating      211643 non-null float64
availability_30           273813 non-null int64
minimum_nights            273813 non-null int64
bathrooms                 273813 non-null float64
host_is_superhost         273465 non-null float64
host_response_rate        273813 non-null float64
dtypes: float64(7), int64(7), object(5)
memory usage: 41.8+ MB

In [13]:
df_fall['neighbourhood_cleansed']

0                     Harlem
1                 Kensington
2                    Midtown
3               Williamsburg
4                     Harlem
5               Clinton Hill
6               East Village
8                Murray Hill
10               Murray Hill
11            Hell's Kitchen
12           Upper West Side
14                 Chinatown
15           Upper West Side
16            Hell's Kitchen
18           Upper West Side
19           Upper West Side
20              West Village
22               East Harlem
23                Kensington
24              Williamsburg
25               Fort Greene
27                   Chelsea
28             Crown Heights
30         Flatiron District
32                Park Slope
34                    Harlem
35              East Village
36                   Chelsea
37        Bedford-Stuyvesant
38           Windsor Terrace
                 ...
282034          Williamsburg
282035          Williamsburg
282036          Williamsburg
282037          Williamsburg
282038          Williamsburg
282039          Williamsburg
282040          Williamsburg
282041          Williamsburg
282042          Williamsburg
282043          Williamsburg
282044          Williamsburg
282045          Williamsburg
282046          Williamsburg
282047          Williamsburg
282048          Williamsburg
282049          Williamsburg
282050          Williamsburg
282051          Williamsburg
282052               Midwood
282053              Woodlawn
282054          Breezy Point
282055          Williamsburg
282056             Wakefield
282057          Belle Harbor
282058               Midwood
282059              Bushwick
282060       Upper West Side
282061               Midtown
282062       North Riverdale
282063             Glen Oaks
Name: neighbourhood_cleansed, Length: 273813, dtype: object

In [14]:
df_fall['neighbourhood_cleansed'] = df_fall['neighbourhood_cleansed'].str.lower()
df_fall.neighbourhood_cleansed = df_fall.neighbourhood_cleansed.str.replace(' ', '')

In [15]:
df_fall['neighbourhood_cleansed']

0                     harlem
1                 kensington
2                    midtown
3               williamsburg
4                     harlem
5                clintonhill
6                eastvillage
8                 murrayhill
10                murrayhill
11             hell'skitchen
12             upperwestside
14                 chinatown
15             upperwestside
16             hell'skitchen
18             upperwestside
19             upperwestside
20               westvillage
22                eastharlem
23                kensington
24              williamsburg
25                fortgreene
27                   chelsea
28              crownheights
30          flatirondistrict
32                 parkslope
34                    harlem
35               eastvillage
36                   chelsea
37        bedford-stuyvesant
38            windsorterrace
                 ...
282034          williamsburg
282035          williamsburg
282036          williamsburg
282037          williamsburg
282038          williamsburg
282039          williamsburg
282040          williamsburg
282041          williamsburg
282042          williamsburg
282043          williamsburg
282044          williamsburg
282045          williamsburg
282046          williamsburg
282047          williamsburg
282048          williamsburg
282049          williamsburg
282050          williamsburg
282051          williamsburg
282052               midwood
282053              woodlawn
282054           breezypoint
282055          williamsburg
282056             wakefield
282057           belleharbor
282058               midwood
282059              bushwick
282060         upperwestside
282061               midtown
282062        northriverdale
282063              glenoaks
Name: neighbourhood_cleansed, Length: 273813, dtype: object

In [16]:
df_fall.room_type[df_fall.room_type == 'Entire home/apt'] = 1.0000000
df_fall.room_type[df_fall.room_type == 'Private room'] = 1.01
df_fall.room_type[df_fall.room_type == 'Shared room'] = 1.02
df_fall.room_type = df_fall.room_type.astype(float)

In [17]:
cleanup_proptype = {'Apartment': 1, 'House': 2, 'Townhouse': 3, 'Loft': 4, 'Condominium': 5, 'Serviced apartment': 6,  'Guest suite': 7, 'Other': 8,
                     'Bed and breakfast': 9, 'Bed & Breakfast': 9, 'Boutique hotel': 10, 'Resort': 11, 'Guesthouse': 12, 'Hostel': 13, 'Hotel': 14, 'Bungalow': 15,
                    'Villa': 16, 'Tiny house': 17, 'Aparthotel': 18, 'Boat': 19, 'Cottage': 20, 'Tent': 21, 'Camper/RV': 22, 'Cabin': 23, 'Casa particular (Cuba)': 24,
                   'Castle': 25, 'Houseboat': 26, 'Earth house': 27, 'Nature lodge': 28, 'Cave': 29, 'Train': 30, 'Timeshare': 31, 'Island': 32, 'Bus': 33, 'Chalet': 34
                   }
df_fall['property_type'].replace(cleanup_proptype, inplace=True)

In [18]:
df_fall.bed_type[df_fall.bed_type == 'Real Bed'] = 1.0000000
df_fall.bed_type[df_fall.bed_type == 'Futon'] = 1.01
df_fall.bed_type[df_fall.bed_type == 'Pull-out Sofa'] = 1.02
df_fall.bed_type[df_fall.bed_type == 'Airbed'] = 1.03
df_fall.bed_type[df_fall.bed_type == 'Couch'] = 1.04
df_fall.bed_type = df_fall.bed_type.astype(float)
df_fall.bed_type

0         1.00
1         1.00
2         1.00
3         1.00
4         1.02
5         1.00
6         1.00
8         1.00
10        1.00
11        1.00
12        1.00
14        1.00
15        1.00
16        1.00
18        1.03
19        1.00
20        1.00
22        1.00
23        1.00
24        1.00
25        1.00
27        1.00
28        1.00
30        1.00
32        1.00
34        1.00
35        1.00
36        1.00
37        1.00
38        1.00
          ...
282034    1.00
282035    1.00
282036    1.00
282037    1.00
282038    1.00
282039    1.00
282040    1.00
282041    1.00
282042    1.00
282043    1.00
282044    1.00
282045    1.00
282046    1.00
282047    1.00
282048    1.00
282049    1.00
282050    1.00
282051    1.00
282052    1.00
282053    1.00
282054    1.00
282055    1.00
282056    1.00
282057    1.00
282058    1.00
282059    1.00
282060    1.00
282061    1.00
282062    1.00
282063    1.00
Name: bed_type, Length: 273813, dtype: float64

In [19]:
df_fall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273813 entries, 0 to 282063
Data columns (total 19 columns):
id                        273813 non-null int64
host_id                   273813 non-null int64
scrape_id                 273813 non-null int64
zipcode                   273813 non-null object
neighbourhood_cleansed    273813 non-null object
property_type             273813 non-null int64
room_type                 273813 non-null float64
accommodates              273813 non-null int64
bedrooms                  273813 non-null float64
beds                      273813 non-null float64
bed_type                  273813 non-null float64
price                     273813 non-null float64
number_of_reviews         273813 non-null int64
review_scores_rating      211643 non-null float64
availability_30           273813 non-null int64
minimum_nights            273813 non-null int64
bathrooms                 273813 non-null float64
host_is_superhost         273465 non-null float64
host_response_rate        273813 non-null float64
dtypes: float64(9), int64(8), object(2)
memory usage: 51.8+ MB

In [20]:
df_fall['host_is_superhost'] = df_fall['host_is_superhost'].fillna(0)

In [21]:
df_fall.review_scores_rating.mean()

93.61883454685484

In [22]:
df_fall.review_scores_rating = df_fall.review_scores_rating.fillna(df_fall.review_scores_rating.mean())

In [23]:
df_fall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273813 entries, 0 to 282063
Data columns (total 19 columns):
id                        273813 non-null int64
host_id                   273813 non-null int64
scrape_id                 273813 non-null int64
zipcode                   273813 non-null object
neighbourhood_cleansed    273813 non-null object
property_type             273813 non-null int64
room_type                 273813 non-null float64
accommodates              273813 non-null int64
bedrooms                  273813 non-null float64
beds                      273813 non-null float64
bed_type                  273813 non-null float64
price                     273813 non-null float64
number_of_reviews         273813 non-null int64
review_scores_rating      273813 non-null float64
availability_30           273813 non-null int64
minimum_nights            273813 non-null int64
bathrooms                 273813 non-null float64
host_is_superhost         273813 non-null float64
host_response_rate        273813 non-null float64
dtypes: float64(9), int64(8), object(2)
memory usage: 51.8+ MB

In [24]:
df_fall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273813 entries, 0 to 282063
Data columns (total 19 columns):
id                        273813 non-null int64
host_id                   273813 non-null int64
scrape_id                 273813 non-null int64
zipcode                   273813 non-null object
neighbourhood_cleansed    273813 non-null object
property_type             273813 non-null int64
room_type                 273813 non-null float64
accommodates              273813 non-null int64
bedrooms                  273813 non-null float64
beds                      273813 non-null float64
bed_type                  273813 non-null float64
price                     273813 non-null float64
number_of_reviews         273813 non-null int64
review_scores_rating      273813 non-null float64
availability_30           273813 non-null int64
minimum_nights            273813 non-null int64
bathrooms                 273813 non-null float64
host_is_superhost         273813 non-null float64
host_response_rate        273813 non-null float64
dtypes: float64(9), int64(8), object(2)
memory usage: 51.8+ MB

In [25]:
df_fall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273813 entries, 0 to 282063
Data columns (total 19 columns):
id                        273813 non-null int64
host_id                   273813 non-null int64
scrape_id                 273813 non-null int64
zipcode                   273813 non-null object
neighbourhood_cleansed    273813 non-null object
property_type             273813 non-null int64
room_type                 273813 non-null float64
accommodates              273813 non-null int64
bedrooms                  273813 non-null float64
beds                      273813 non-null float64
bed_type                  273813 non-null float64
price                     273813 non-null float64
number_of_reviews         273813 non-null int64
review_scores_rating      273813 non-null float64
availability_30           273813 non-null int64
minimum_nights            273813 non-null int64
bathrooms                 273813 non-null float64
host_is_superhost         273813 non-null float64
host_response_rate        273813 non-null float64
dtypes: float64(9), int64(8), object(2)
memory usage: 51.8+ MB

In [26]:
from io import StringIO
import boto3

csv_buffer = StringIO()
df_fall.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object("datasetairbnb", 'airbnb_cleaned_fall.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '4CFD2E347B3C7F9F',
  'HostId': 'CzG9qpB79e5N8dn3BbLPws1hvfSgLhZpTv50kHnWBc6CFoqJJZDJFuqoBPG8BreGiDTYN8jciOY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'CzG9qpB79e5N8dn3BbLPws1hvfSgLhZpTv50kHnWBc6CFoqJJZDJFuqoBPG8BreGiDTYN8jciOY=',
   'x-amz-request-id': '4CFD2E347B3C7F9F',
   'date': 'Tue, 14 May 2019 18:30:21 GMT',
   'etag': '"f2b13c44f396a500c0ee5a62eadc7d43"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"f2b13c44f396a500c0ee5a62eadc7d43"'}