In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_1 = pd.read_csv('s3://datasetairbnb/dataset/listingsJanuary.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_2 = pd.read_csv('s3://datasetairbnb/dataset/listingsFebruary.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_12 = pd.read_csv('s3://datasetairbnb/dataset/listingsDecember.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)

df_13 = pd.read_csv('s3://datasetairbnb/dataset/listings_2017/january.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_14 = pd.read_csv('s3://datasetairbnb/dataset/listings_2017/february.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)
df_24 = pd.read_csv('s3://datasetairbnb/dataset/listings_2017/december.csv', encoding='Latin-1', sep=',', error_bad_lines=False, index_col=False, low_memory=False)

In [3]:
df_winter_seasonality = pd.concat([df_12, df_1, df_2, df_24, df_13, df_14], ignore_index=True)

In [4]:
df_winter = df_winter_seasonality[[
    'id',
    'host_id',
    'scrape_id',
    'zipcode',
    'neighbourhood_cleansed',
    'property_type',
    'room_type',
    'accommodates',
    'bedrooms',
    'beds',
    'bed_type',
    'price',
    'number_of_reviews',
    'review_scores_rating',
    'availability_30',
    'minimum_nights',
    'bathrooms',
    'host_is_superhost',
    'host_response_rate'
]]

In [5]:
df_winter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275931 entries, 0 to 275930
Data columns (total 19 columns):
id                        275931 non-null int64
host_id                   275931 non-null int64
scrape_id                 275931 non-null int64
zipcode                   272035 non-null object
neighbourhood_cleansed    275931 non-null object
property_type             275931 non-null object
room_type                 275931 non-null object
accommodates              275931 non-null int64
bedrooms                  275561 non-null float64
beds                      275509 non-null float64
bed_type                  275931 non-null object
price                     275931 non-null object
number_of_reviews         275931 non-null int64
review_scores_rating      209354 non-null float64
availability_30           275931 non-null int64
minimum_nights            275931 non-null int64
bathrooms                 275072 non-null float64
host_is_superhost         275278 non-null object
host_response_rate        183400 non-null object
dtypes: float64(4), int64(7), object(8)
memory usage: 40.0+ MB

In [6]:
# determine the number of missing entries in each column
for col in df_winter.columns:
    print (col + ', Number of Missing Values:', len(df_winter[col][df_winter[col].isnull()]))

id, Number of Missing Values: 0
host_id, Number of Missing Values: 0
scrape_id, Number of Missing Values: 0
zipcode, Number of Missing Values: 3896
neighbourhood_cleansed, Number of Missing Values: 0
property_type, Number of Missing Values: 0
room_type, Number of Missing Values: 0
accommodates, Number of Missing Values: 0
bedrooms, Number of Missing Values: 370
beds, Number of Missing Values: 422
bed_type, Number of Missing Values: 0
price, Number of Missing Values: 0
number_of_reviews, Number of Missing Values: 0
review_scores_rating, Number of Missing Values: 66577
availability_30, Number of Missing Values: 0
minimum_nights, Number of Missing Values: 0
bathrooms, Number of Missing Values: 859
host_is_superhost, Number of Missing Values: 653
host_response_rate, Number of Missing Values: 92531

In [7]:
original_winter = len(df_winter)
df_winter = df_winter.dropna(how='any', subset=['zipcode', 'property_type', 'bedrooms', 'beds', 'bathrooms'])
print ('Number of NaN values removed:', original_winter - len(df_winter))

Number of NaN values removed: 5230

In [8]:
# drop $ and , 
df_winter['price'] = df_winter['price'].astype(str).str.replace('$', '')
df_winter['price'] = df_winter['price'].astype(str).str.replace(',', '')
df_winter['price'] = df_winter['price'].str.strip()
df_winter['price'] = df_winter['price'].astype(float)

In [9]:
# drop % && convert to float
df_winter['host_response_rate'].fillna(0, inplace=True)
df_winter['host_response_rate'] = df_winter['host_response_rate'].astype(str).str.replace('%', '')
df_winter['host_response_rate'] = df_winter['host_response_rate'].astype(str).str.replace(',', '')
df_winter['host_response_rate'] = df_winter['host_response_rate'].str.strip()
df_winter['host_response_rate'] = df_winter['host_response_rate'].astype(float)

In [10]:
# host_is_superhost
df_winter.host_is_superhost[df_winter.host_is_superhost == 't'] = 1
df_winter.host_is_superhost[df_winter.host_is_superhost == 'f'] = 0
df_winter.host_is_superhost = df_winter.host_is_superhost.astype(float)

threshold=100
df['count'] = df_cols.groupby('property_type')['property_type'].transform(pd.Series.value_counts)
df_cols=df[df['count']>=threshold]
df_cols.drop(['count'], axis = 1, inplace = True)

In [11]:
df_winter = df_winter.groupby('property_type').filter(lambda x : len(x)>500)

In [12]:
df_winter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268636 entries, 0 to 275930
Data columns (total 19 columns):
id                        268636 non-null int64
host_id                   268636 non-null int64
scrape_id                 268636 non-null int64
zipcode                   268636 non-null object
neighbourhood_cleansed    268636 non-null object
property_type             268636 non-null object
room_type                 268636 non-null object
accommodates              268636 non-null int64
bedrooms                  268636 non-null float64
beds                      268636 non-null float64
bed_type                  268636 non-null object
price                     268636 non-null float64
number_of_reviews         268636 non-null int64
review_scores_rating      204238 non-null float64
availability_30           268636 non-null int64
minimum_nights            268636 non-null int64
bathrooms                 268636 non-null float64
host_is_superhost         268001 non-null float64
host_response_rate        268636 non-null float64
dtypes: float64(7), int64(7), object(5)
memory usage: 41.0+ MB

In [13]:
df_winter['neighbourhood_cleansed']

0                            Harlem
1                   Upper West Side
2                        Kensington
3                           Midtown
4                            Harlem
5                      Williamsburg
6                           Chelsea
7                            Harlem
8                Bedford-Stuyvesant
9                            Harlem
10                     Clinton Hill
11                  Carroll Gardens
13                     Clinton Hill
15                      Murray Hill
16                           Harlem
18                   Hell's Kitchen
19                     West Village
20                  Upper West Side
21                     Williamsburg
22                       Park Slope
24               Bedford-Stuyvesant
25                        Chinatown
26                     Williamsburg
27                  Upper West Side
28                   Hell's Kitchen
29                           Harlem
30                  Upper East Side
31                   Hell's Kitchen
32                      South Slope
33                          Gowanus
                    ...
275901                 Williamsburg
275902                 Williamsburg
275903                 Williamsburg
275904                 Williamsburg
275905                 Williamsburg
275906                 Williamsburg
275907                  Willowbrook
275908                   West Farms
275909              Windsor Terrace
275910                       Inwood
275911           Financial District
275912              Mariners Harbor
275913              Cambria Heights
275914                    Bellerose
275915                      Midwood
275916                      Astoria
275917              Upper East Side
275918    Prospect-Lefferts Gardens
275919                  East Harlem
275920                    Flatlands
275921                 Borough Park
275922    Prospect-Lefferts Gardens
275923                   Park Slope
275924                 Belle Harbor
275925                  East Harlem
275926                      Midtown
275927                      Midwood
275928                       Harlem
275929             Prospect Heights
275930                     Kips Bay
Name: neighbourhood_cleansed, Length: 268636, dtype: object

In [14]:
df_winter['neighbourhood_cleansed'] = df_winter['neighbourhood_cleansed'].str.lower()
df_winter.neighbourhood_cleansed = df_winter.neighbourhood_cleansed.str.replace(' ', '')

In [15]:
df_winter['neighbourhood_cleansed']

0                           harlem
1                    upperwestside
2                       kensington
3                          midtown
4                           harlem
5                     williamsburg
6                          chelsea
7                           harlem
8               bedford-stuyvesant
9                           harlem
10                     clintonhill
11                  carrollgardens
13                     clintonhill
15                      murrayhill
16                          harlem
18                   hell'skitchen
19                     westvillage
20                   upperwestside
21                    williamsburg
22                       parkslope
24              bedford-stuyvesant
25                       chinatown
26                    williamsburg
27                   upperwestside
28                   hell'skitchen
29                          harlem
30                   uppereastside
31                   hell'skitchen
32                      southslope
33                         gowanus
                    ...
275901                williamsburg
275902                williamsburg
275903                williamsburg
275904                williamsburg
275905                williamsburg
275906                williamsburg
275907                 willowbrook
275908                   westfarms
275909              windsorterrace
275910                      inwood
275911           financialdistrict
275912              marinersharbor
275913              cambriaheights
275914                   bellerose
275915                     midwood
275916                     astoria
275917               uppereastside
275918    prospect-leffertsgardens
275919                  eastharlem
275920                   flatlands
275921                 boroughpark
275922    prospect-leffertsgardens
275923                   parkslope
275924                 belleharbor
275925                  eastharlem
275926                     midtown
275927                     midwood
275928                      harlem
275929             prospectheights
275930                     kipsbay
Name: neighbourhood_cleansed, Length: 268636, dtype: object

In [16]:
df_winter.room_type[df_winter.room_type == 'Entire home/apt'] = 1.0000000
df_winter.room_type[df_winter.room_type == 'Private room'] = 1.01
df_winter.room_type[df_winter.room_type == 'Shared room'] = 1.02
df_winter.room_type = df_winter.room_type.astype(float)

In [17]:
cleanup_proptype = {'Apartment': 1, 'House': 2, 'Townhouse': 3, 'Loft': 4, 'Condominium': 5, 'Serviced apartment': 6,  'Guest suite': 7, 'Other': 8,
                     'Bed and breakfast': 9, 'Bed & Breakfast': 9, 'Boutique hotel': 10, 'Resort': 11, 'Guesthouse': 12, 'Hostel': 13, 'Hotel': 14, 'Bungalow': 15,
                    'Villa': 16, 'Tiny house': 17, 'Aparthotel': 18, 'Boat': 19, 'Cottage': 20, 'Tent': 21, 'Camper/RV': 22, 'Cabin': 23, 'Casa particular (Cuba)': 24,
                   'Castle': 25, 'Houseboat': 26, 'Earth house': 27, 'Nature lodge': 28, 'Cave': 29, 'Train': 30, 'Timeshare': 31, 'Island': 32, 'Bus': 33, 'Chalet': 34
                   }
df_winter['property_type'].replace(cleanup_proptype, inplace=True)

In [18]:
df_winter.bed_type[df_winter.bed_type == 'Real Bed'] = 1.0000000
df_winter.bed_type[df_winter.bed_type == 'Futon'] = 1.01
df_winter.bed_type[df_winter.bed_type == 'Pull-out Sofa'] = 1.02
df_winter.bed_type[df_winter.bed_type == 'Airbed'] = 1.03
df_winter.bed_type[df_winter.bed_type == 'Couch'] = 1.04
df_winter.bed_type = df_winter.bed_type.astype(float)
df_winter.bed_type

0         1.00
1         1.00
2         1.00
3         1.00
4         1.00
5         1.00
6         1.00
7         1.02
8         1.00
9         1.00
10        1.00
11        1.00
13        1.00
15        1.00
16        1.00
18        1.00
19        1.00
20        1.00
21        1.00
22        1.00
24        1.00
25        1.00
26        1.00
27        1.00
28        1.00
29        1.00
30        1.00
31        1.00
32        1.00
33        1.00
          ...
275901    1.00
275902    1.00
275903    1.00
275904    1.00
275905    1.00
275906    1.00
275907    1.00
275908    1.00
275909    1.00
275910    1.00
275911    1.00
275912    1.00
275913    1.02
275914    1.00
275915    1.00
275916    1.00
275917    1.00
275918    1.00
275919    1.00
275920    1.00
275921    1.01
275922    1.00
275923    1.00
275924    1.00
275925    1.00
275926    1.00
275927    1.00
275928    1.00
275929    1.00
275930    1.00
Name: bed_type, Length: 268636, dtype: float64

In [19]:
df_winter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268636 entries, 0 to 275930
Data columns (total 19 columns):
id                        268636 non-null int64
host_id                   268636 non-null int64
scrape_id                 268636 non-null int64
zipcode                   268636 non-null object
neighbourhood_cleansed    268636 non-null object
property_type             268636 non-null int64
room_type                 268636 non-null float64
accommodates              268636 non-null int64
bedrooms                  268636 non-null float64
beds                      268636 non-null float64
bed_type                  268636 non-null float64
price                     268636 non-null float64
number_of_reviews         268636 non-null int64
review_scores_rating      204238 non-null float64
availability_30           268636 non-null int64
minimum_nights            268636 non-null int64
bathrooms                 268636 non-null float64
host_is_superhost         268001 non-null float64
host_response_rate        268636 non-null float64
dtypes: float64(9), int64(8), object(2)
memory usage: 51.0+ MB

In [20]:
df_winter['host_is_superhost'] = df_winter['host_is_superhost'].fillna(0)

In [21]:
df_winter.review_scores_rating.mean()

93.36956883635759

In [22]:
df_winter.review_scores_rating = df_winter.review_scores_rating.fillna(df_winter.review_scores_rating.mean())

In [23]:
df_winter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268636 entries, 0 to 275930
Data columns (total 19 columns):
id                        268636 non-null int64
host_id                   268636 non-null int64
scrape_id                 268636 non-null int64
zipcode                   268636 non-null object
neighbourhood_cleansed    268636 non-null object
property_type             268636 non-null int64
room_type                 268636 non-null float64
accommodates              268636 non-null int64
bedrooms                  268636 non-null float64
beds                      268636 non-null float64
bed_type                  268636 non-null float64
price                     268636 non-null float64
number_of_reviews         268636 non-null int64
review_scores_rating      268636 non-null float64
availability_30           268636 non-null int64
minimum_nights            268636 non-null int64
bathrooms                 268636 non-null float64
host_is_superhost         268636 non-null float64
host_response_rate        268636 non-null float64
dtypes: float64(9), int64(8), object(2)
memory usage: 51.0+ MB

In [24]:
df_winter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268636 entries, 0 to 275930
Data columns (total 19 columns):
id                        268636 non-null int64
host_id                   268636 non-null int64
scrape_id                 268636 non-null int64
zipcode                   268636 non-null object
neighbourhood_cleansed    268636 non-null object
property_type             268636 non-null int64
room_type                 268636 non-null float64
accommodates              268636 non-null int64
bedrooms                  268636 non-null float64
beds                      268636 non-null float64
bed_type                  268636 non-null float64
price                     268636 non-null float64
number_of_reviews         268636 non-null int64
review_scores_rating      268636 non-null float64
availability_30           268636 non-null int64
minimum_nights            268636 non-null int64
bathrooms                 268636 non-null float64
host_is_superhost         268636 non-null float64
host_response_rate        268636 non-null float64
dtypes: float64(9), int64(8), object(2)
memory usage: 51.0+ MB

In [25]:
from io import StringIO
import boto3

csv_buffer = StringIO()
df_winter.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object("datasetairbnb", 'airbnb_cleaned_winter.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '60BD684733234CB7',
  'HostId': 'bgRViCx2yzRus7LXPN1K0oqJ7Lb+ow+Wh9yMky5a7GCnMwDbBQAgAwLg5beuZ/Rf7sKfb2sxI3w=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'bgRViCx2yzRus7LXPN1K0oqJ7Lb+ow+Wh9yMky5a7GCnMwDbBQAgAwLg5beuZ/Rf7sKfb2sxI3w=',
   'x-amz-request-id': '60BD684733234CB7',
   'date': 'Tue, 14 May 2019 05:15:09 GMT',
   'etag': '"7811fed6b6eedcc7dfd4ad97636ec6f1"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"7811fed6b6eedcc7dfd4ad97636ec6f1"'}