In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([[1, 2, 10, 20, 30], [4, 5, 40, 50, 60], [7, 8, 70, 70, 90]],
        index=['cobra', 'viper', 'sidewinder'],
        columns=['max_speed', 'shield', 'a', 'b', 'c'])
df

            max_speed  shield   a   b   c
cobra               1       2  10  20  30
viper               4       5  40  50  60
sidewinder          7       8  70  70  90

In [7]:
df.loc[:,['a', 'b', 'c']]

             a   b   c
cobra       10  20  30
viper       40  50  60
sidewinder  70  70  90